*{
    margin:0;
}
body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home{
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg");
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    height: 56vh;
}
.home .home-content{
    padding: 13%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
}
.home .home-content h1{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
}
.home .home-content nav{
    margin-top: 2%;
    color: white;
}
.home .home-content nav ol li{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.home .home-content nav ol li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
header{
    position: absolute;
    z-index: 1;
    padding: 1% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #0071f8;
}
header img{
    padding-left: 6%;
    cursor: pointer;
}
header ul {
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 350;
    padding: 8px 16px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}
header ul li .a1{
    background-color: #1a89f9;
}
header ul li a:hover{
    background-color: #1a89f9;
}
header ul button{
    background-color: #ee626b;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 1%;
    cursor: pointer;
}
header ul button a{
    text-decoration: none;
    color: white;
}
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-images{
    margin: 8%;
    position: relative;
    overflow: hidden;
}
.game-images .game-images-header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% 22%;
}
.game-images .game-images-header ul li{
    list-style-type: none;
    padding: 10px 25px;
    background-color: #eeeeee;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.game-images .game-images-header ul li:hover{
    color: #ee626b;
}
.game-images .game-images-header ul .active{
    background-color: #ee626b;
    color: white;
}
.game-images .game-images-header ul .active:hover{
    color: white;
}
.trending-games-images{
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 6% 0%;
}
.trending-games-images .images-down{
    top: 0px;
    left: 0px;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease;
}
.trending-games-images .images-down .images-prices{
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.trending-games-images .images-down .images-prices h5{
    font-size: 18px;
}
.trending-games-images img{
    border-radius: 20px;
}
.trending-games-images .images-down{
    background-color: #eeeeee;
    border-radius: 20px;
    height: 45vh;
}
.trending-games-images .images-down div{
    padding: 10px 20px;
}
.trending-games-images .images-down div p{
    font-size: 14px;
    color: gray;
}
.trending-games-images .images-down div h3{
    margin-top: 3%;
    transition: 0.3s ease-in-out;
}
.trending-games-images .images-down .image-caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-games-images .images-down .image-caption h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: -10%;
}
.trending-games-images .images-down .image-caption .fa-bag-shopping{
    padding: 12px;
    background-color: #ee626b;
    color: white;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.trending-games-images .images-down:hover .fa-bag-shopping{
    background-color: #008af8;
}
.trending-games-images .images-down:hover .image-caption h3{
    color: #008af8;
}
.content {
    opacity: 0;
    transform: scale(0.8);
    position: absolute;
    transition: opacity 0.3s ease, transform 0.5s ease;
}
.content.active {
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 5% 40%;
}
.buttons button{
    border-radius: 50%;
    padding: 8px 15px;
    font-weight: 700;
}
.buttons button a{
    text-decoration: none;
}
.buttons .btn-secondary{
    border: none;
    background-color: #eeeeee;
    transition: 0.2s ease-in-out;
}
.buttons .btn-secondary a{
    color: black;
}
.buttons .btn-primary{
    transition: 0.2s ease-in-out;
}
.buttons .btn-primary a{
    color: white;
}
.buttons .btn-secondary:hover{
    background-color: #0071f8;
}
.buttons .btn-secondary:hover a{
    color: white;
}
.buttons .btn-primary:hover{
    background-color: #0071f8;
    color: white;
}
footer{
    position: relative;
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/footer-bg.jpg");
    padding: 30px 90px 80px;
    text-align: center;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    margin-bottom: -10%;
}
footer a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
footer a:hover{
    color: gainsboro;
}