*{
    margin:0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}
.home{
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg");
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    height: 56vh;
}
.home .home-content{
    padding: 13%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
}
.home .home-content h1{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
}
.home .home-content nav{
    margin-top: 2%;
    color: white;
}
.home .home-content nav ol li{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.home .home-content nav ol li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
header{
    position: absolute;
    z-index: 1;
    padding: 1% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #0071f8;
}
header img{
    padding-left: 6%;
    cursor: pointer;
}
header ul {
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 350;
    padding: 8px 16px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}
header ul li .a1{
    background-color: #1a89f9;
}
header ul li a:hover{
    background-color: #1a89f9;
}
header ul button{
    background-color: #ee626b;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 1%;
    cursor: pointer;
}
header ul button a{
    text-decoration: none;
    color: white;
}
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-of-duty{
    display: flex;
    justify-content: space-between;
    margin: 8% 8% 6% 8%;
}
.call-of-duty .right-content{
    width: 47%;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.call-of-duty .right-content h3{
    font-weight: 700;
}
.call-of-duty .right-content .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}
.call-of-duty .right-content .price strike{
    color:#c8c8c8;
    font-weight: 600;
    font-size: 17px;
}
.call-of-duty .right-content .price h3{
    color: #0071f8;
    font-weight: 800;
}
.call-of-duty .right-content .buttons-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.call-of-duty .right-content .buttons-input input{
    width: 80px;
    height: 50px;
    border-radius: 30px;
    border: none;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    text-align: center;
    outline: none;
}
.call-of-duty .right-content .buttons-input a{
    text-decoration: none;
}
.call-of-duty .right-content .buttons-input input:focus-within{
    outline: 4px solid #97c2f7;
}
.call-of-duty .right-content .buttons-input .btn-primary{
    background-color: #ee626b;
    border: none;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    text-transform: uppercase;
    font-size: 14px;
}
.call-of-duty .right-content .buttons-input .btn-primary:hover{
    background-color: #0071f8;
}
.call-of-duty .right-content .content{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.call-of-duty .right-content .headings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    color:#c8c8c8;
}
.call-of-duty .right-content .headings-values{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    color: #437ff8;
}
.call-of-duty .right-content .headings-values a{
    text-decoration: none;
}
footer{
    position: absolute;
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/footer-bg.jpg");
    padding: 30px 90px 80px;
    text-align: center;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 3%;
    width: 100%;
    margin-bottom: -10%;
}
.horizontal-line{
    margin: 6% 8%;
}
.description-box{
    margin: 6% 8%;
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 30px;
    height: 50vh;
    width: 80%;
    position: relative;
}
.description-box .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
}
.description-box .head h6{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.Left-content{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 10%;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#c8c8c8;
}
.Right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    color: #437ff8;
}
.Right-content a{
    text-decoration: none;
}
.active{
    opacity: 1;
    transform: translateY(0%);
}
.description-box .head hr{
    width: 1px;
    height: 20px;
    background-color: black;
    transform: rotate(180deg);
}
.top-categories{
    margin: 8% 3% 5%;
}
.top-categories .top-categories-up {
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}
.top-categories .top-categories-up .top-categories-up-left h6{
    text-transform: uppercase;
    color: #ee626b;
    font-weight: 700;
}
.top-categories .top-categories-up .top-categories-up-left h1{
    font-size: 36px;
    font-weight: 700;
    color:#1e1e1e;
}
.top-categories .top-categories-up .top-categories-up-right{
    margin-top: 5%;
}
.top-categories .top-categories-up .top-categories-up-right button{
    background-color: #ee626b;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 30px;
    transition: 0.3s ease-in-out;
}
.top-categories .top-categories-up .top-categories-up-right button:hover{
    background-color: #0071f8;
}
.top-categories .top-categories-images{
    padding: 5% 3%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.top-categories .top-categories-images .images-down{
    height: 35vh;
    background-color: #0071f8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin:0;
    padding: 0;
}
.top-categories .top-categories-images .images-down h3{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1% 0%;
    margin-top: 7%;
}
.top-categories .top-categories-images .images-down img{
    border-radius: 20px;
    margin-top: 5%;
}
footer a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
footer a:hover{
    color: gainsboro;
}